[user]
	name = olekristianbe
	email = 31245993+olekristianbe@users.noreply.github.com
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[fetch]
	prune = true
[init]
	defaultBranch = main
